*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

/* setting the background image */
body {  
  min-height: 100vh;  
  color: #9b9b9b;
  background-image: url("../img/retro-background.png");
  background-position: center;
  background-size: cover;
  opacity: 0.75;
  background-repeat: no-repeat;
}

/* title and fonts */
.title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: black !important;
  -webkit-text-stroke-width: 0.1rem;  
  -webkit-text-stroke-color: #ff0083;  
  text-shadow: 0.5rem 0.5rem 1rem #ff0083;
  padding: 0.5% 0.5%;  
}

.title__subtitle {  
  font-size: 2rem;  
}

/* load local font in project */
@font-face {
  font-family: 'Bit5x3';
  src: url('../font/bit5x3.otf') format('opentype');
}


/* settings of the playfield */
.playfield {
  padding: 0;
  margin: auto;
  display: block;
}
